<div class="row my-3">
  <div class="col-12 card" [class.inactive]="!post.status">
    <div class="p-4">
      <div class="border-bottom post-title">
        <span 
          routerLink="/post-view/{{ post.id }}">
          {{ post.title }}
        </span>
        <div class="actions">
          <ng-content></ng-content>
        </div>
      </div>
      <div class="text-secondary post-author mb-3">
        {{ post.author }}
      </div>
      <div class="post-content">
        {{ post.content }}
      </div>
      <div class="post-data text-secondary text-right mt-3">
        Data de postagem: {{ post.createdAt | date: 'dd/MM/yyyy' }}
      </div>
    </div>
  </div>
</div>