/* You can add global styles to this file, and also import other style files */
.btn {
  background-color: #4F65D7;
  border-color: #4F65D7;
}

.btn:hover {
  background-color: #4671BE;
  border-color: #4671BE;
}


a:link, a:visited, a:active {
  text-decoration: none;
  color: #4671BE;
}