<div class="container custom-container-2">

    <!-- Show it when there is no employee -->
    <div class="no-data text-center" *ngIf="posts.length == 0">
      <p>There is no employee added yet!</p>
      <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
    </div>
  
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="posts.length !== 0">
      <h3 class="mb-3 text-center">Employees List</h3>
  
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Post id</th>
              <th scope="col">Post title</th>
              <th scope="col">Post author</th>
              <th scope="col">Post content</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts">
              <td>{{post.id}}</td>
              <td>{{post.title}}</td>
              <td>{{post.author}}</td>
              <td>{{post.content}}</td>
              <td>
                <!-- <span class="edit" routerLink="/employee-edit/{{employee.id}}">Edit</span>
                <span class="delete" (click)="deleteEmployee(employee.id)">Delete</span> -->
                teste
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>