<div class="row">
  <div class="col-12 col-lg-2">
    <app-posts-info
      [numPosts]="posts ? posts.length : 0"
      [numInactivePosts]="posts ? numInactivePosts() : 0">
    </app-posts-info>
  </div>
  <div class="col-12 col-lg-10" *ngIf="!isEmpty">
    <app-post-card 
      *ngFor="let post of posts"
      [post]="post">

      <a routerLink="/post-edit/{{ post.id }}">
        editar
      </a> |
      <a (click)="toggleStatus(post)" *ngIf="post.status">
        desativar
      </a>
      <a (click)="toggleStatus(post)" *ngIf="!post.status">
        ativar
      </a> |
      <a (click)="deletePost(post.id)">
        deletar
      </a>

      
    </app-post-card>
  </div>
  <div class="col-12 no-posts" *ngIf="isEmpty">
    <h1>Sem postagens por hora :(</h1>
  </div>
</div>
