<nav class="navbar navbar-expand-sm ">
  <span
    class="navbar-brand"
    (click)="goHome()">
    VirtuxBlog
  </span>
  <div class="navbar-nav ml-auto">
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" >
        {{ perspective }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a 
          class="dropdown-item"
          (click)="changePerspective('visitante')"
          *ngIf="perspective !== 'visitante'">
          visitante
        </a>
        <a
          class="dropdown-item"
          (click)="changePerspective('administrador')"
          *ngIf="perspective !== 'administrador'">
          administrador
        </a>
      </div>
    </div>
  </div>
</nav>